rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Trips can only be read, updated, or deleted by their owner
    match /trips/{tripId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null;
    }
    
    // Allow users to read their own data
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
  }
}